<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="nav col-6   mb-2 justify-content-center ">
        <a class="navbar-brand" href="#"> <img src="assets/Resursi/imgs/flowerLogo.png" class="logoImg" alt=""></a>
      </div>
      <ul class="nav col-6 col-md-auto mb-2 justify-content-center">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">About</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">Shop</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">Contact</a></li>
      </ul>
      <div class= " d-flex col-3 justify-content-end align-items-center ">
        <mat-icon>account_circle</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
      </div>
      
    </div>
  </div>
</nav>
