<div class="container-fluid position-relative mb-5">
    <img src="assets/Resursi/imgs/MACRO_PLP_BANNER.jpg" class="img-fluid " alt="">
    <div class="position-absolute top-50 start-50 translate-middle p-3 text-center">
        <h1 class="mb-3 text-white">GIVE WITH MEANING</h1>
        <p class="mb-3 text-white">For over 110 years, as the floral-gifting experts, we’ve been helping you give with
            more care, with greater ease, and with more meaning.<br>

            Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the telegraph
            to transform the age-old practice of flower-giving. We understood then the unique power of flowers to
            express a sentiment and helped people across the world “Say it with flowers.” Today, we have grown into an
            extensive network made up of thousands of local florists — each one an artisan who is handcrafting and
            hand-delivering fine bouquets all across the country.
            <br>
            When you’re giving with FTD you’re giving the gift of joy, strength, and love and you're giving it with
            meaning.
        </p>
        <h1 class="mb-3 text-white">FTD.com Affiliate Program</h1>
        <p class="text-white">Advertise FTD.com on your site and get 5% on your users' purchases
        </p>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <h1>Advertise</h1>
            <div class="col-md-12 background">
                <p>Advertise FTD on your website</p>
                <hr>
                <p class="mb-5">Why Partner with FTD?</p>
                <p>After 100 years in business, we know a thing or two about flowers! In fact, we invented the world's
                    first floral network and are one of America's most recognizable brands. Our century of success is
                    built on industry leading standards for floral quality, artistry, and reliability. Join the FTD
                    affiliate program and start generating revenue for your site.</p>
            </div>
        </div>
        <div class="col-md-4 text-center mb-5">
            <h1>Convert</h1>
            <div class="col-md-12 background">
                <p>Upon ad selection users are taken to product</p>
                <hr>
                <p class="mb-5 ">What can you expect?</p>
                <li>Full time dedicated and experienced Affiliate Manager</li>
                <li>Competitive commission and attractive conversion rate</li>
                <li>Daily reporting through CJ Affiliate</li>
                <li>Affiliation with the oldest and most recognized floral organization and Brand in the world</li>
                <li>Industry leading, best in class affiliate exclusive discounts</li>
                <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas</li>
                <li>A customizable mobile site with technology that works on hundreds of devices</li>
                <li>Product feed available</li>
                <li>Same day delivery available</li>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <h1>Earn</h1>
            <div class="col-md-12 background">
                <p>Earn 5% commission across all products & categories.</p>
                <hr>
                <p class="mb-5 ">How do I join?</p>
                <p>Join now through CJ Affiliate. If you have questions about becoming an affiliate of FTD, please contact us at:FTD-Affiliate"&#64;"ftdi.com</p>
            </div>
        </div>
    </div>
</div>