<!-- <div class="container">
    <div class="row">
        <div class="col-12 position-relative">
            <img src="assets/Resursi/imgs/loginBackground.jpg" class="img-fluid" alt="">
            <div class=" position-absolute top-50 start-50 translate-middle">
                <div class="text-center mb-3">
                    <h1 class="fw-bold">Log In </h1>
                    <p>New to the site? <a routerLink="/singup" class="link-dark">Sign up</a></p>
                </div>
                <div class="container">
                    <form (ngSubmit)="onLogin(myForm)" #myForm="ngForm">
                        <div class="mb-3 form-group ">
                            <label for="Email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" ngModel
                                name="email" required email #email="ngModel">
                            <span class="error-msg" *ngIf="!email.valid && email.touched">eMail must be valid</span>
                            <span class="error-msg" *ngIf="email.errors?.['required']">eMail is required</span>
                        </div>
                        <div class="form-group mb-5">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" minlength="5" required ngModel
                                #password="ngModel" class="form-control">
                            <span class="error-msg" *ngIf="password.errors?.['required']">Password is required</span>
                            <span class="error-msg" *ngIf="!password.valid && password.touched">Password must be
                                valid</span>
                        </div>

                        <div>
                            <a href="" class="link-dark"> Forgot Password</a><br>
                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button class="btn btn-secondary" type="submit">Login</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-12 position-relative">
            <img src="assets/Resursi/imgs/loginBackground.jpg" class="img-fluid" alt="">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="text-center mb-3">
                    <h1 class="fw-bold">Log In </h1>
                    <p>New to the site? <a routerLink="/singup" class="link-dark">Sign up</a></p>
                </div>
                <div class="container">
                    <form (ngSubmit)="onLogin(myForm)" #myForm="ngForm">
                        <div class="mb-3 form-group">
                            <label for="Email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="Email1" aria-describedby="emailHelp" ngModel
                                name="email" required email #email="ngModel">
                            <span class="error-msg" *ngIf="!email.valid && email.touched">eMail must be valid</span>
                            <span class="error-msg" *ngIf="email.errors?.['required']">eMail is required</span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" minlength="5" required ngModel
                                #password="ngModel" class="form-control">
                            <span class="error-msg" *ngIf="password.errors?.['required']">Password is required</span>
                            <span class="error-msg" *ngIf="!password.valid && password.touched">Password must be
                                valid</span>
                        </div>

                        <div class="mb-3">
                            <a href="" class="link-dark"> Forgot Password</a><br>
                        </div>
                        <div class="d-grid gap-2 col-12 mx-auto">
                            <button class="btn btn-secondary" type="submit">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>