<div class="position-relative">
    <img src="assets/Resursi/imgs/flowerBackground1.jpg" class="img-fluid" alt="">
    <div class="position-absolute top-50 end-0 translate-middle-y p-3 sec1">
        <h1 class="mb-3">March into Spring!</h1>
        <p class="mb-3">Bring the meadow to them with a daisy bouquet.</p>
        <button type="button" class="btn btn-secondary">Shop Flowers</button>
    </div>
</div>
<div class="container-fluid">
    <div class="container text-center sec2 mb-5">
        <div class="row align-items-center">
            <div class="col-md-8 mx-auto">
                <p>Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the
                    telegraph to transform the age-old practice of flower-giving. We understood then the unique power of
                    flowers to express a sentiment and helped people across the world “Say it with flowers.” Today, we
                    have grown into an extensive network made up of thousands of local florists — each one an artisan
                    who is handcrafting and hand-delivering fine bouquets all across the country.</p>
                <p>It is extremely rare for the longevity of small businesses to reach 100 years — some researchers say
                    it is less than .05% of businesses. This year, we are thrilled to celebrate three florists that have
                    been FTD members for 100 years and all have been in business even longer. Read on to discover what
                    has given these florists their staying power and resilience throughout the last century.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row sec3">
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower1.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Fiesta Bouquet</p>
                <p>$60</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower2.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Alluring Elegance Bouquet</p>
                <p>$72</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower3.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Beyond Blue Bouquet</p>
                <p>$55</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower4.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Mixed Roses</p>
                <p>$35</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower5.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Belle of the Ball Bouquet</p>
                <p>$45</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower6.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Rainbow Garden Bouquet</p>
                <p>$50</p>
            </div>
        </div>
        <div class="col-md-3 ">
            <img src="assets/Resursi/imgs/flower7.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Best Day Bouquet</p>
                <p>$61</p>
            </div>
        </div>
        <div class="col-md-3">
            <img src="assets/Resursi/imgs/flower8.jpeg" class="img-fluid" alt="">
            <div class="text-center fw-bold">
                <p>Smiles & Sunshine</p>
                <p>$45</p>
            </div>
        </div>
    </div>
    <div class="text-center ">
        <button type="button" class="btn btn-outline-secondary" >Load More</button>
    </div>
</div>

<div class="container mt-3 mb-3">
    <div class="row m-0 d-flex">
        <div class="col-6">
            <p>Send us a message <br>
                A: Laze Nanica 7,21000 Novi Sad</p>
            <p>T:021/422-022</p>
            <p>office&#64;smartinit.net</p> <br>
            <p>MON-FRI:7am - 10pm</p>
            <p>SATURDAY: 8am-10pm</p>
            <p>SUNDAY:-</p><br>
            <p>FAQ/</p>
            <p>Shipping & Returns/</p>
            <p>Store Policy/</p>
            <p>Payment Methods/</p>
        </div>

        <div class="col-6">



        </div>

    </div>
</div>


<div class="container-fluid mt-5">
    <div class="row  d-flex p-0">
        <div class="col-6 sec4 m-0">
            <div class="text-center text-white mt-5 p-3">
                <h2>Send Get Well Wishes</h2>
                <p>brighten their recovery with beautiful florals, plants and gifts that will express your well wishes.
                </p>
                <button type="button" class="btn btn-secondary rounded">SHOP GET WELL FLOWERS & GIFTS</button>
            </div>

        </div>

        <div class="col-6">
            <img src="assets/Resursi/imgs/FTD_SplitBanner_Merx_1.png" class="img-fluid" alt="">

        </div>
    </div>
</div>